<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiansheng.reggie.mapper.AddressBookMapper">
    <resultMap id="adressbookResultMap" type="AddressBook">
        <result column="user_id" property="userId"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
        <result column="create_user" property="createUser"></result>
        <result column="update_user" property="updateUser"></result>
        <result column="is_default" property="isDefault"></result>
        <result column="is_deleted" property="isDeleted"></result>
        <result column="city_code" property="cityCode"></result>
        <result column="city_name" property="cityName"></result>
        <result column="district_code" property="districtCode"></result>
        <result column="district_name" property="districtCame"></result>
        <result column="province_code" property="provinceCode"></result>
        <result column="province_name" property="provinceName"></result>
    </resultMap>
    <select id="selAll" resultMap="adressbookResultMap">
        select *
        from address_book
        where user_id=#{id}
    </select>
    <insert id="inse" parameterType="AddressBook">
        insert into
            address_book(user_id,consignee,sex,phone,label,detail,create_time,update_time,create_user,update_user)
        values (#{userId}, #{consignee},#{sex},#{phone},#{label},#{detail},#{createTime},#{updateTime},#{createUser},#{updateUser});
    </insert>
    <update id="upDef">
        update address_book
        set is_default=0 where user_id=#{userId};
    </update>
    <update id="upDef1">
        update address_book
        set is_default=1 where id=#{id};
    </update>
    <select id="selByid" resultMap="adressbookResultMap">
        select * from address_book where id=#{id}
    </select>
    <delete id="del">
        delete from address_book where id=#{id}
    </delete>
    <update id="up">
        update address_book
        set consignee=#{consignee},sex=#{sex},phone=#{phone}
         <if test="detail!=null">,detail=#{detail}</if>
        <if test="label!=null">,label=#{label}</if>
        ,update_time=#{updateTime},update_user=#{updateUser},is_default=#{isDefault}
        where id=#{id};
    </update>
    <select id="selByDef" resultMap="adressbookResultMap">
        select * from address_book where user_id=#{userId} and is_default=1
    </select>
</mapper>