<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiansheng.reggie.mapper.CategoryMapper">
    <resultMap id="categoryResultMap" type="Category">
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
        <result column="create_user" property="createUser"></result>
        <result column="update_user" property="updateUser"></result>
    </resultMap>
    <select id="seleByLimit" resultMap="categoryResultMap">
        select id,type,name,sort,create_time, update_time, create_user, update_user from category order by sort limit #{page},#{pagesize};
    </select>
    <select id="seleNumber" resultType="int">
        select count(*) from category
    </select>
    <insert id="inSert" parameterType="Category">
        insert into category(type,name,sort,create_time, update_time, create_user, update_user)
        values(#{type},#{name},#{sort},#{createTime},#{updateTime},#{createUser},#{updateUser});
    </insert>
    <delete id="del">
        delete from category where id=#{id};
    </delete>
    <update id="updat" parameterType="Category">
        update category set name=#{name},sort=#{sort} where id=#{id};
    </update>
    <select id="sellist" resultMap="categoryResultMap">
        select * from category
        <if test="type!=10">
            where type=#{type};
        </if>
    </select>
</mapper>