<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiansheng.reggie.mapper.DishMapper">
    <resultMap id="dishResultMap" type="Dish">
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
        <result column="create_user" property="createUser"></result>
        <result column="update_user" property="updateUser"></result>
        <result column="category_id" property="categoryId"></result>
    </resultMap>
    <resultMap id="dishdtoResultMap" type="DishDto">
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
        <result column="create_user" property="createUser"></result>
        <result column="update_user" property="updateUser"></result>
        <result column="category_id" property="categoryId"></result>
    </resultMap>

    <select id="selByCate" resultType="int">
        select count(*) from dish where category_id=#{id}
    </select>
    <select id="sel" resultType="DishDto">
        select dish.id, dish.name,category.name as categoryName, dish.price,dish.code, dish.image, dish.description, dish.status, dish.sort, dish.create_time as createTime, dish.update_time as updateTime
        from dish,category where dish.category_id=category.id
            <if test="name!=null">
               and dish.name like #{name}
            </if>
         limit #{page},#{pageSize}
    </select>
    <select id="selNum" resultType="int">
        select count(*) from dish;
    </select>
    <insert id="add" parameterType="Dish">
        insert into dish(name,category_id, price, image, description, status, create_time, update_time,create_user,update_user)
        values (#{name},#{categoryId},#{price},#{image},#{description},#{status},#{createTime},#{updateTime},#{createUser},#{updateUser})
    </insert>
    <select id="selByName" resultType="String" parameterType="String">
        select id from dish where name=#{name};
    </select>
    <select id="upselByid" resultMap="dishdtoResultMap">
        select * from dish where id=#{id}
    </select>
    <update id="updat" parameterType="DishDto">
        update dish set name=#{name},category_id=#{categoryId}, price=#{price}, image=#{image}, description=#{description},update_time=#{updateTime},update_user=#{updateUser}  where id=#{id}
    </update>
    <update id="upStatus">
        update dish set status=#{type} where id=#{id};
    </update>
    <delete id="del">
        delete from dish where id=#{id};
    </delete>
    <select id="selByCid" resultMap="dishdtoResultMap">
        select * from dish where category_id=#{id} and status=1
    </select>
</mapper>