<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiansheng.reggie.mapper.OrdersMapper">
    <resultMap id="ordersResultMap" type="OrdersDto">
        <result column="user_id" property="userId"></result>
        <result column="pay_method" property="payMethod"></result>
        <result column="checkout_time" property="checkoutTime"></result>
        <result column="order_time" property="orderTime"></result>
        <result column="address_book_id" property="addressBookId"></result>
    </resultMap>
    <select id="selPage" resultMap="ordersResultMap">
        SELECT
        orders.id as id,
        orders.number as number,
        orders.status as status,
        orders.user_id as user_id,
        orders.address_book_id as address_book_id,
        orders.order_time as order_time,
        orders.checkout_time as checkout_time,
        orders.pay_method as pay_method,
        orders.amount as amount,
        orders.remark as remark,
        orders.phone as phone,
        orders.address as address,
        user.name as userName
        from orders,user
        <where>
            <if test="1==1">
                user.id=orders.user_id
            </if>
            <if test="orders.userId!=null">
                and user_id=#{orders.userId}
            </if>
            <if test="pageSize==1">
                and order_time=(
                SELECT MAX(order_time)
                FROM `orders`
                    where user_id=#{orders.userId})
            </if>
        </where>
        ORDER BY order_time DESC limit #{page},#{pageSize}
    </select>
    <insert id="inse" parameterType="Orders">
        insert into
            orders(number,status,user_id,address_book_id,order_time,
                         pay_method,amount,remark,phone)
        values (#{number}, #{status},#{userId},#{addressBookId},#{orderTime},
                #{payMethod},#{amount},#{remark},#{phone})
    </insert>
    <select id="selNu" resultType="int">
        select count(*) from orders
    </select>
</mapper>